@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --gold: #FEC544;
    /* --font: #A9AD88; */
    --background: #07080B;
}

/* CSS RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* body {
    overflow-x: hidden;
} */

.text-secondary {
    color: var(--gold);
}

.btn-md {
    display: inline-block;
    background: var(--gold);
    color: #08080A;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid var(--gold);transition: all 0.3s ease-in;
}

.btn-md:hover {
    color: var(--gold);
    background: none;
}

.container {
    max-width: 1300px;
    padding: 0 100px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 32px;
    margin-bottom: 12px;
}

.title::before {
    content: '';
    height: 2px;
    background: #090808;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}

.title::after {
    content: '';
    background: #08080A;
    height: 7px;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(1px);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    justify-content: space-between;
    transform: translateY(-60px);
}

/* Showcase Background */

.showcase {
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.showcase h1 {
    letter-spacing: 3px;
}


/* Navigation Bar Section */

.navbar {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 35px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.navbar.sticky {
    padding: 10px 100px;
    background: #07080B;
}

.navbar .logo {
    color: var(--gold);
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar ul li span {
    color: var(--gold);
    border-left: 1px solid #A9AD88;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
}

.navbar ul li a {
    color: #a8ab91;
    font-weight: bold;
    transition: all 0.5s ease-in ;
}

.navbar ul li a:hover {
    color: var(--gold);
}

/* Showcase content Section */

.showcase-text {
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
    color: #fff;
}

.showcase-text .text-1 {
    font-size: 27px;
}

.showcase-text .text-2 {
    font-size: 75px;
    font-weight: 700;
}

.showcase-text .text-3 {
    font-size: 40px;
    margin: 5px 0;
    font-weight: 700;
}

.showcase-content span {
    color: var(--gold);
}

.showcase-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    overflow: hidden;
    transform: rotateY(180deg);
}

/* About Section Styling */

#about {
    background: var(--background);
}

.about .title::before {
    background: var(--gold);
}

.about .title::after {
    background: var(--gold);
}

.about h1 {
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5 {
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content,
.services .service-content
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-60px);
}

.about .about-content .column {
    margin-top: 40px;
}

.about .about-content .left {
    width: 55%;
    padding: 0 20px;
    overflow: hidden;
}

.about .about-content .left img {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content .right {
    width: 45%;
    color: #A9AD88;
}

.about .about-content .right .text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-.about-content .right p {
    text-align: justify;
    line-height: 1.3;
}

.about .about-content .right .text span {
    color: var(--gold);
}

.about .about-content .right .table {
    width: 500px;
    padding: 10px 0;
    margin-left: 0;
}

.about .about-content .right .table td {
    padding: 10px;
}

/* Services Section Styling */

#services {
    color: #A9AD88;
    background-color: var(--gold);
    padding-bottom: 90px;
}

.services h5 {
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.services h1 {
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform:translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.services .service-content .main {
    width: calc(30% - 20px);
    min-height: 450px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    
}

.service {
    background: #07080B;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 20px -15px #07080B;
    z-index: 1;
    transition: transform 0.8s;
}

/* .service-content {
    display: flex;
    justify-content: space-between;
} */

.service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #07080B;
    border: 18px solid #FEC544;
    transition: transform 1s;
}


.service-logo i {
    color: #FEC544;
    /* width: 50px; */
    margin-top: 20px;
}

.service h4 {
    height: 28px;
    width: 80%;
    background: #07080B;
    margin: 60px auto;
    position: relative;
}

.service h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #07080B, #FEC544);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.service h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #FEC544, #07080B);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowone {
    height: 200px;
    width: 80%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
    /* border: 10px solid blue; */
}


.main:hover .service {
    transform: translateY(-50px);
}

.main:hover {
    transform: translateY(-25px);
}

/* My Sklls Section */

#skills {
    background: #07080B;
    color: white;
    padding-bottom: 80px;
   
}

.skills h1 {
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.skills h5 {
    font-weight: 700;
    transform: translateY(-65px);
}

.skills .title::before {
    background: #FEC544;
}

.skills .title::after {
    background: #FEC544;
}

.skills .skill-content .column {
    margin-top: 40px;
    width: calc(50% - 50px);
}

.skills .skill-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    transform: translateY(-60px);
}

.skills .skill-content .left .text {
    font-size: 27px;
    font-weight: 700px;
    padding: 10px 0;
    margin-bottom: 10px;
    color: var(--gold);
}

.skills .skill-content .left p {
    color: #A9AD88;
    text-align: justify;
    line-height: 1.4;
    padding-top: 15px;
}

.skills .skill-content .left a {
    border: 2px solid #FEC544;
    border-radius: 5px;
    display: inline-block;
    background: #FEC544;
    color: #07080B;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.skills .skill-content .left a:hover {
    color: #FEC544;
    background: none;
}

.skills .skill-content .right .bars {
    margin-bottom: 20px;
}

.skills .skill-content .right .info {
    display: flex;
    margin-bottom: 5px;
    color: #A9AD88;
    align-items: center;
    justify-content: space-between;
}

.skills .skill-content .right .span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skill-content .right .line {
    height: 2px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skill-content .right .line::before {
    content: '';
    position: absolute;
    height: 80%;
    left: 0;
    top: 0;
    background: var(--gold);
}

.skills .skill-content .right .ps::before {
    width: 65%;
}

.skills .skill-content .right .mg::before {
    width: 80%;
}

.skills .skill-content .right .axd::before {
    width: 50%;
}

.skills .skill-content .right .uxd::before {
    width: 90%;
}

.skills .skill-content .right .html::before {
    width: 99%;
}

.skills .skill-content .right .dm::before {
    width: 56%;
}

/* Teams Section Styling */


#teams {
    color: #A9AD88;
    background: #FEC544;
    padding-bottom: 40px;
}

.teams h5 {
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.teams h1 {
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.teams .carousel .card {
    background-color: #07080B;
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover {
    background: #151515
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FEC544;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    border-radius: 50%;
    background: #07080B !important;
    outline: none !important;
    border: 2px solid #07080B;
    transition: all 0.3s ease;
}

/* Contact Me Styling */

section {
    padding: 40px 0;
    background: #07080B;
}

.contact h1  {
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.contact h5 {
    font-weight: 700px;
    transform: translateY(-65px);
}

.contact .title::after {
    background-color: #FEC544;
}

.contact .title::before {
    background: #FEC544;
}

.contact .contact-content .column {
    margin-top: 40px;
    width: calc(50% - 50px);
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}

.contact .contact-content .left h2 {
    font-size: 30px;
    color: #a8ab91;
}

.contact .contact-content .left .form-group input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #a8ab91;
    border-radius: 5px;
}
.contact .contact-content .left .form-group textarea {
    width: 100%;
    padding: 10px;
    background: #fff;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
}

.contact .contact-content .left .btn-md {
    padding: 8px;
    font-size: 16px;
}

.contact .contact-content .right {
    color: #a8ab91;
}

.contact .contact-content .right h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.contact .contact-content .right p {
    line-height: 1.6;
}

.contact .contact-content .right .items {
    margin: 0px;
    padding: 0;
}

.contact .contact-content .right .items .item {
    margin: 10px 0;
}

/* footer section */

#footer {
    text-align: center;
    background-color: #FEC544;
    padding: 30px;
    color: #07080B;
    font-weight: 700;;
}
/* 2:04:43 */











